@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1895b030;
}

.cropper {
  position: relative;
  width: 80vw;
  height: 90dvh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.09);
}

input[type="radio"] {
  accent-color: #1895b0;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: #1895b0;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: 2px solid #1895b0;
  cursor: pointer;
  margin: 1rem;
}

.btn-outline {
  background: #fff;
  color: #1895b0;
  border: 2px solid #1895b0;
}

.action-btns {
  padding-bottom: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropped-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.aspect-ratios {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
